#elem1 {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 200px;
    border: 1px solid red;
}

#elem2 {
    position: absolute;
    bottom: 0;
    margin-bottom: 200px;
    margin-left: 200px;

    width: 100px;
    height: 100px;
    border: 1px solid green;
}

#elem3{
    position: absolute;
    bottom: 0;
    margin-bottom: 320px;
    margin-left: 100px;
    
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}